<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Angular SVG demo</title>
  <link rel="stylesheet" href="demo.css">
</head>
<body ng-app="myApp">
<div ng-controller="SvgCtrl">
  <h1>{{greeting}}</h1>

  <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          id="mysvg">
    <text x="200" y="100" class="textStyle">{{svgText}}</text>
    <circle ng-attr-cx="{{circle.cx}}" ng-attr-cy="{{circle.cy}}" ng-attr-r="{{circle.r}}" ng-attr-fill="{{circle.color}}" />
  </svg>

  <div class="controls">
    <h2>Text</h2>
    <input type="text" ng-model="svgText">
    <h2>Circle</h2>
    <label for="cx">X</label>
    <input id="cx" type="number" ng-model="circle.cx" /><br>
    <label for="cy">Y</label>
    <input id="cy" type="number" ng-model="circle.cy" /><br>
    <label for="r">Radius</label>
    <input id="r" type="number" ng-model="circle.r" /><br>
    <label for="color">Color</label>
    <input id="color" type="text" ng-model="circle.color" />
  </div>

</div>

<script type="text/javascript" src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
<script type="text/javascript">
  var myApp = angular.module('myApp',[]);

  function SvgCtrl($scope) {
    $scope.greeting = 'Now let\'s add an svg here.';
    $scope.svgText = 'Hello';
    $scope.circle = {
      cx: 400,
      cy: 400,
      r: 100,
      color: 'red'
    }
  }
</script>
</body>
</html>
